.form--modifier { padding:15px; background-color:#e4e4e4; }
.form--label { display:inline-block; width:50px; padding:0 10px; font-size:12px; }
.form--input { padding:8px; font-size:14px; border:1px solid #ddd; }