* { margin:0; padding:0; border:0; font-size:13px; }
ul, li { list-style:none; }
.hidden { display:none; font-size:0; text-indent:-10000px; }

header { padding:10px; }
header h1 { padding:15px; text-align:center; font-size:24px; font-weight:bold; background-color:#eee; }

.slideWrap { position:relative; width:1000px; height:600px; margin:auto; background-color:#eee; }
.slideWrap .slide { width:100%; height:100%; }
.slideWrap .slide-elem { position:absolute; top:0; left:100%; width:100%; height:100%; }
.slideWrap .slide-elem.active { left:0; }

.slideWrap .arrow { position:absolute; top:50%; width:60px; line-height:50px; margin-top:-25px; text-align:center; background-color:rgba(0,0,0,0.3); color:#fff; cursor:pointer; }
.slideWrap .arrow:hover { background-color:rgba(0,0,0,0.7)}
.slideWrap .arrow.prev { left:0; }
.slideWrap .arrow.next { right:0; }